<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa 2</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/programa2.css">
</head>

<body>
    <header class="encabezado">
        <h1 class="titulo">5 Programas en JavaScript</h1>
    </header>
    <nav class="menu-principal">
        <label for="menu-drawer" class="menu-drawer-label">Menu</label>
        <input type="checkbox" name="menu-drawer" id="menu-drawer">
        <ul>
            <li class="menu-principal-item">
                <a href="./programa1.html" class="menu-principal-link">Programa 1</a>
            </li>
            <li class="menu-principal-item">
                <a href="../index.html" class="menu-principal-link">Inicio</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa3.html" class="menu-principal-link">Programa 3</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa4.html" class="menu-principal-link">Programa 4</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa5.html" class="menu-principal-link">Programa 5</a>
            </li>
        </ul>
    </nav>
    <div class="contenido">
        <h1 class="titulo">Programa 2</h1>
        <div class="container">
            <div class="programa">
                <div class="cubo" id="cubo">La vieja</div>
                <table class="table">
                    <tr>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                    </tr>
                    <tr>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                    </tr>
                    <tr>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                        <td class="table-item"></td>
                    </tr>
                </table>
                <div id="ganador"></div>
                <button id="btn-reiniciar" class="btn">Reiniciar</button>
            </div>
        </div>
    </div>
    <footer class="pie">
        <span>Programas desarrollados por Ricardo Mejias</span>
    </footer>
    <script src="../js/programa2.js"></script>
</body>

</html>