<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Programa 4</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/programa4.css">
</head>

<body>
    <header class="encabezado">
        <h1 class="titulo">5 Programas en JavaScript</h1>
    </header>
    <nav class="menu-principal">
        <label for="menu-drawer" class="menu-drawer-label">Menu</label>
        <input type="checkbox" name="menu-drawer" id="menu-drawer">
        <ul>
            <li class="menu-principal-item">
                <a href="./programa1.html" class="menu-principal-link">Programa 1</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa2.html" class="menu-principal-link">Programa 2</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa3.html" class="menu-principal-link">Programa 3</a>
            </li>
            <li class="menu-principal-item">
                <a href="../index.html" class="menu-principal-link">Inicio</a>
            </li>
            <li class="menu-principal-item">
                <a href="./programa5.html" class="menu-principal-link">Programa 5</a>
            </li>
        </ul>
    </nav>
    <div class="contenido">
        <h1 class="titulo">Programa 4</h1>
        <div class="container">
            <div class="programa">
                <button id="btn">Apagar</button>
            </div>
        </div>
    </div>
    <footer class="pie">
        <span>Programas desarrollados por Ricardo Mejias</span>
    </footer>
    <script src="../js/programa4.js"></script>
</body>

</html>