<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa 1</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/programa1.css">
</head>

<body>
    <header class="encabezado">
        <h1 class="titulo">5 Programas en JavaScript</h1>
    </header>
    <nav class="menu-principal">
        <label for="menu-drawer" class="menu-drawer-label">Menu</label>
        <input type="checkbox" name="menu-drawer" id="menu-drawer">
        <ul>
            <li class="menu-principal-item">
                <a href="../index.html" class="menu-principal-link">INICIO</a>
            </li>
            <li class="menu-principal-item">
                <a href="" class="menu-principal-link">Programa 2</a>
            </li>
            <li class="menu-principal-item">
                <a href="" class="menu-principal-link">Programa 3</a>
            </li>
            <li class="menu-principal-item">
                <a href="" class="menu-principal-link">Programa 4</a>
            </li>
            <li class="menu-principal-item">
                <a href="" class="menu-principal-link">Programa 5</a>
            </li>
        </ul>
    </nav>
    <div class="contenido">
        <h1 class="titulo">Programa 1</h1>
        <div class="container">
            <div class="programa">
                <div class="cubo" id="cubo">Mi cubo</div>
                <form action="">
                    <button id="left">left</button>
                    <button id="color">color</button>
                    <button id="right">right</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="pie">
        <span>Programas desarrollados por Ricardo Mejias</span>
    </footer>
    <script src="../js/programa1.js"></script>
</body>

</html>